body {
  background-color: #dbe2ef;
}

h1 {
  color: #3f72af;
}

h2 {
  color: #3f72af;
}

h3 {
  color: #3f72af;
}

hr {
  float:left;
  margin-left: 20px;
  border-style: dotted none none;
  border-color: #006600;
  border-width: 10px;
  width: 5%;
}

.circular {
  border-radius: 100%;
}
